<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>MODEL</th>
            <th>Plate Number</th>
            <th>Can ride on water?</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getModel()}" th:align="left"></td>
            <td th:text="${car.getPlateNumber()}" th:align="center"></td>
            <td th:text="${car.getIsAmphibian()} == true ? 'yes' : 'no'" th:align="center"></td>
        </tr>
    </table>
</div>
</body>
</html>